<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.name %>!</h1>
    <p> You created an account on Side Events with your email: <%= @user.email %>.</p>
    <p> We're very pleased you joined us on this amazing journey. There a lot of new events added every day! Check them out.</p>
    <br />
    <p> You can log in here to see your details: <%= @url %>.</p>
  <p> See you soon on Side Events! </p>
</body>
</html>