<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @admin.first_name %>!</h1>
    <p>
      A new attendee registered to your event <%= @event.title %> : <%= @attendee.first_name @attendee.last_name %>.
    </p>
    <p> We're very pleased to see your event growing in importance. And don't forget, steady communication is key to the very last minute before the event.</p>
      <br />
      <p> Check all your event details here: <%= @event_url %>.</p>
      <br />
    <p> See you soon on Side Events! </p>
  </body>
</html>